.filtersBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.23);
  background-color: white;
  padding: 1rem;
}

.filtersBar form {
  display: flex;
  width: max-content;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

.filtersBar form *:not(:first-child) {
  margin-right: 1rem;
}

.LogoPublic {
  height: 100%;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  min-width: 1rem;
}

.inputPublic {
  height: 2.5rem;
  width: 100%;
  min-width: fit-content;
}

.inputPublic input {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 0;
  outline: none;
  font-style: italic;
  padding-left: 0.5rem;
  padding-right: 2rem;
}

.inputPublic:hover {
  box-shadow: none;
  border-color: #31af9a;
  border-width: 2px;
}

.SearchIconListings {
  margin-left: -2rem;
  margin-bottom: 0.3rem;
}

.dropdownMenu {
  padding-right: 0.3rem;
  height: 2.5rem;
  width: 10rem;
  min-width: max-content;
  border-radius: 0;
  outline: none;
  color: rgba(0, 0, 0, 0.64);
  border: 1px solid rgba(128, 128, 128, 0.219);
}

.logInBtn {
  background-color: #197572;
  color: white;
  width: 9.5rem;
  height: 2.5rem;
}

.logInBtn:hover {
  background-color: #31af9a;
}

.dropdownMenu:hover {
  box-shadow: none;
  border-color: #31af9a;
  border-width: 2px;
}

.option:hover {
  color: #31af9a;
}

.opt {
  font-size: 1rem;
  margin-left: 10px;
}

.containerImgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.item1 {
  border: 1px solid rgba(128, 128, 128, 0.41);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: auto;
  width: calc((120% - 1rem) / 4);
  max-width: 90%;
  max-height: 90%;
  margin: 1.6rem;
}

.item1:hover {
  border: 1px solid #31af9a;
}

.imgPublic {
  width: 100%;
  height: auto;
  max-height: 24rem;
}

.description {
  height: 10rem;
}

.spects {
  width: 70%;
  height: 100%;
  white-space: nowrap;
}

.publicPrice {
  font-size: 2.6rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.spect {
  margin-left: 1.9rem;
  margin-bottom: -0.3rem;
}

.strong {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.78);
}

.spects2 {
  width: 30%;
  height: 100%;
  margin-top: 2rem;
  white-space: nowrap;
}

.spectText {
  margin-right: 1.3rem;
  margin-top: 2rem;
  font-size: 1vw;
}

.icons1 {
  margin-top: -1rem;
  margin-right: 1.3rem;
}

@media (max-width: 1024px) {
  .LogoPublic {
    width: auto;
    margin-bottom: 1rem;
  }

  .filtersBar form {
    display: flex;
    width: max-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .filtersBar form *:not(:first-child) {
    margin: 0;
  }

  .inputPublic {
    height: 2.5rem;
    width: 100%;
    min-width: fit-content;
  }

  .inputPublic input {
    height: 100%;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.219);
    border-radius: 0;
    outline: none;
    font-style: italic;
    padding-left: 0.5rem;
    padding-right: 2rem;
  }

  .inputPublic img {
    margin-left: -2rem !important;
  }

  .filtersBar {
    flex-direction: column;
    padding: 1rem 0;
  }

  .buttonContainer {
    margin-top: 1rem;
  }

  .dropdownMenu {
    width: 24%;
    padding-right: unset;
    margin-top: 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .filtersBar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
  }

  .filtersBar img {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
  }

  .filtersBar form {
    display: flex;
    width: max-content;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin: 0;
  }

  .LogoPublic {
    align-self: center;
    width: auto;
  }

  .inputPublic {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  button[type="submit"] {
    top: 0.5rem;
    right: 0.5rem;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .container button {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .SearchIconListings {
    margin-left: 0;
    margin-bottom: 0.3rem;
  }

  .dropdownMenu {
    display: none;
  }

  .filter-listings {
    background-image: url("../../assets/img/slider.horizontal.3.svg");
    background-size: cover;
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
  }

  .open-search {
    background-image: url("../../assets/img/magnifyingglass.svg");
    background-size: cover;
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
  }
}
